<div class="col-lg-4 float-left mt-3">
  <h3>Panel de usario</h3>
  <hr />

  <div
    class="nav flex-column nav-pills"
    id="v-pills-tab"
    role="tablist"
    aria-orientation="vertical"
  >
    <a
      class="nav-link active"
      id="v-pills-home-tab"
      data-toggle="pill"
      href="#v-pills-home"
      role="tab"
      aria-controls="v-pills-home"
      aria-selected="true"
	  [routerLink]="['list']"
      >Mis temas</a
    >
    <a
      class="nav-link"
      id="v-pills-profile-tab"
      data-toggle="pill"
      href="#v-pills-profile"
      role="tab"
      aria-controls="v-pills-profile"
      aria-selected="false"
	  [routerLink]="['create']"
      >Crear tema</a
    >
    <a
      class="nav-link"
      id="v-pills-messages-tab"
      data-toggle="pill"
      href="#v-pills-messages"
      role="tab"
      aria-controls="v-pills-messages"
      aria-selected="false"
	  [routerLink]="['/settings']"
      >Mi cuenta</a
    >
    
  </div>
</div>

<div class="col-lg-8 float-right mt-3">
  <router-outlet></router-outlet>
</div>
